@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");
:root {
  --min: 72vmin;
  --max: 90vmin;
}
body {
  margin: 0;
  background-color: #0f172a;
  color: #6ee7b7;
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "MONO" 1;
  background-image: url("bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.5438550420168067) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("bg.webp");
}

.alphabet {
  width: 0vmin;
  height: 0vmin;
  background-color: rgba(56, 189, 248, 0.6);

  box-shadow: inset 0px 0px 70px 0px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s ease-in-out;
  z-index: 2;
}

.alphabet2 {
  width: var(--max);
  height: var(--max);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 3;
}

body.loaded .alphabet {
  width: var(--min);
  height: var(--min);
}

body.loaded .alphabet.loaded {
  width: var(--max);
  height: var(--max);
}

body.loaded .alphabet.loaded.loaded2 {
  width: var(--min);
  height: var(--min);
}

.alphabet2 .letter {
  top: var(--x);
  left: var(--y);
}

body.loaded .alphabet2.loaded2 {
  display: block;
}

body.loaded .alphabet2.loaded3 {
  z-index: 1;
}

body.loaded .alphabet2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 9vmin;
  padding: 0vmin;
  border-radius: 50%;
  transition: box-shadow 0.5s ease-in-out, margin 0.5s ease-in-out,
    padding 0.5s ease-in-out;

  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0),
    inset 0px 0px 0px 0vmin rgba(59, 199, 104, 0);
}
body.loaded .alphabet2.loaded3::before {
  box-shadow: inset 0px 0px 70px 0px rgba(0, 0, 0, 0.75),
    inset 0px 0px 0px 9vmin rgba(59, 199, 104, 0.6);

  margin: 0vmin;
  padding: 9vmin;
}

body.loaded .alphabet2.loaded2 .letter {
  opacity: 1;
}

.letter {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: clamp(0.5rem, 5vmin, 3rem);
  width: clamp(0.5rem, 5vmin, 3rem);
  height: clamp(0.5rem, 5vmin, 3rem);
  line-height: clamp(0.5rem, 5vmin, 3rem);
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #0f172a;
}

@keyframes position {
  0% {
    opacity: 1;
  }

  100% {
    top: var(--x);
    left: var(--y);
    opacity: 1;
  }
}

.letter.loaded {
  /* display: block; */
  animation: position 1s ease-in-out 3s forwards;
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  font-size: clamp(0.5rem, 5vmin, 3rem);
  transform: translate(-50%, -50%);
  gap: 4vmin;
  opacity: 0;
}
body.loaded .alphabet.loaded.loaded2 .controls {
  opacity: 1;
  transition: all 1s ease-in-out;
}

body.loaded .alphabet.loaded.loaded2 .letter {
  animation: none;
  opacity: 1;
  top: var(--x);
  left: var(--y);
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
}

.controls .add,
.controls .substract {
  width: clamp(0.5rem, 5vmin, 3rem);
  height: clamp(0.5rem, 5vmin, 3rem);
  line-height: clamp(0.5rem, 5vmin, 3rem);
  border-radius: 5%;
  text-align: center;
  border-style: solid;
  border-width: clamp(0.5rem, 1vmin, 3rem);
  cursor: pointer;
  user-select: none;
  border-color: #0f172a;
  color: #0f172a;
}

.controls .number {
  margin-top: clamp(0.5rem, 1vmin, 3rem);
  height: clamp(0.5rem, 5vmin, 3rem);
  line-height: clamp(0.5rem, 5vmin, 3rem);
  width: 12vmin;
  text-align: center;
  color: #0f172a;
}
